
// --------------- Colors ---------------

// Background Colors

$main-bg-lgt:linear-gradient(90deg, rgba(147,147,214,1) 0%, rgba(114,168,194,1) 100%);

$bg-light: #232323;
$bg-main: #131416;
$home-bg:#000000;
$abt-bg:black;
$skill-bg: #262835;
$proj-bg:#1C1D24;
$contact-bg:#131416;

// #1C1D24

//text Colors
$accent-color:#d88135;
$text-low: rgba(255, 255, 255, 0.721);
$main1: #404bc7;
$grad-main:linear-gradient(to left, orange, tomato);

//Shadows
$box-shadow-low: 0 5px 15px rgba(0, 0, 0, 0.2);
$box-shadow-high: 0 10px 10px rgba(111, 108, 108, 0.5);



//Shades
$white-1000: #fff;
$white-700:rgba(255, 255, 255, 0.799);
$black-1000: black;
$black-900: rgba(47, 45, 45, 0.902);
$black-800:rgb(28, 29, 36);
$black-400: #656f87;
$black-200: rgba(93, 72, 72, 0.166);
$black-100: #f7f7f7;
$black-alpha-100: rgba(0, 0, 0, 0.5);

//Social-icons
$linkedin: #0a66c2;
$github: #171515;
$instagram:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$whatsapp: rgb(4, 239, 4);



//! --------------- Colors ---------------

// Background Colors
$bg-light: #232323;
$bg-main: #131416;
$left-bg: #646675;
$home-bg:#000000;
$skill-bg: #262835;
$proj-bg:#1C1D24;
$navbar-bg: #1c1d2434;
$stk-nav-bg: #1c1d24;;
$navbar-border:#513030;



//text Colors
$accent-color:#d88135;
$accent1000:#ff7802;
$accent400:rgba(220, 150, 90, 0.1);
$text-low: rgba(255, 255, 255, 0.721);
$main1: #404bc7;
$grad-main:linear-gradient(to left, orange, tomato);

//Shadows
$box-shadow-low: 0 5px 15px rgba(0, 0, 0, 0.3);
$box-shadow-high: 0 10px 10px rgba(111, 108, 108, 0.5);



//Shades
$white-1000: #fff;
$white-700:rgba(255, 255, 255, 0.799);
$black-1000: black;
$black-900: rgba(47, 45, 45, 0.902);
$black-800:rgb(28, 29, 36);
$black-400: #656f87;
$black-200: rgba(93, 72, 72, 0.166);
$black-100: #f7f7f7;
$black-alpha-100: rgba(0, 0, 0, 0.5);

//Social-icons
$linkedin: #0a66c2;
$github: #171515;
$instagram:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$whatsapp: rgb(4, 239, 4);



//! --------------- Measurements ---------------


//Border Radius
$br-5:5px;
$br-10:10px;
$br-15:15px;
$br-20:20px;
$br-25:25px;
$br-30:30px;

