/* styles/signin.scss */

.signup_cls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
  
    form {
      background-color: #8e5757;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
  
      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
  
        label {
          font-weight: bold;
        }
  
        input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
          color: black;
        }
      }
  
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    @media (max-width: 768px) {
      form {
        max-width: 100%;
      }
    }
  }
  