.form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F5F5F5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: black;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input[type="email"],
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      color: black;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  p
  {
    margin: 10px;
    font-size: 15px;
    color: black;

    span
    {
      font-weight: 900;
      text-decoration: underline;
      color: #333;

      &:hover
      {
        color: #007bff;
      }
    }
  
  }
}

.success-popup,
.error-popup {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}

.success-popup {
  background-color: #4CAF50; 
}

.error-popup {
  background-color: #FF5733; 
}

.error-popup p {
  color: #FF5733;
}