.chart-container {
    h2.result-heading {
        text-align: center;
    }

    .loader {
        margin-top: 100px;
        text-align: center;
    }

    .chart {
        width: 100%;
        height: 400px;
    }

    .test-table {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
    }

    .test-table th,
    .test-table td {
        border: 1px solid black;
        padding: 8px;
        color: white;
    }
}
